<p>Hi <%= @user.name %>,</p>

<p>Your account has been created. Here is your password:</p>

<p><strong><%= @password %></strong></p>

<p>Please log in and change your password as soon as possible.</p>
<p>Thank you!</p>